/* Start Box */
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.a-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.f-wrap {
    flex-wrap: wrap;
}
/* End Box */
/* Start Width and Height */
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
.h-40 {
    height: 40px;
}
/* End Width and Height */
/* Start Padding + Margin */
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.pt-15 {
    padding-top: 15px;
}
.pb-15 {
    padding-bottom: 15px;
}
.m-0 {
    margin: 0;
}
.mt-10 {
    margin-top: 10px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-10 {
    margin-bottom: 10px;  
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.ml-10 {
    margin-left: 10px;
}
/* End Padding + Margin */
/* Start Color */
.bg-white {
    background-color: #fff;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.c-white {
    color: #fff;
}
.c-black {
    color: #000;
}
.c-grey {
    color: var(--grey-color);
}
.c-blue {
    color: var(--blue-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-green {
    color: var(--green-color);
}
.opcity {
    background-color: rgba(238, 238, 238, 0);
    color: rgba(0, 0, 0, 20%);
}
/* End Color */
/* Start Position */
.p-relative {
    position: relative;
}
/* End Position */
/* Start Fonts */
.txt-c {
    text-align: center;
}
.t-decoration {
    text-decoration:line-through;
}
.fw-bold {
    font-weight: bold;
}
.fs-13 {
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-25 {
    font-size: 25px;
}
/* End Fonts */
/* Start border */
.b-none {
    border: none;
}
.outline {
    outline: none;
}
.rad-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* End border */
/* Start Components*/
.between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End Components*/
/* Start button-shape */
/* Start button-shape */
.btn-shape {
    padding: 5px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* End Media Quires */
@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
    .text-c-mobile {
        text-align: center;
    }
    .block-mobile {
        display: block;
    }
}
/* End Media Quires */