:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --main-transition: 0.3s;
    --border-rad:50%;
    --main-border: 1px solid #ccc;
    --border-radius: 6px;
}
/* Start Global Rules */
* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
*.focus{
    outline: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
.page {
    min-height: 200vh;
    background-color: #f1f5f9;
}
/* End Global Rules */
/* Start Sidebar */
.sidebar {
    width: 220px;
    box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
    margin-bottom: 50px;
}
.sidebar > h3::before,
.sidebar > h3::after {
    content:"";
    background-color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.sidebar > h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
}
.sidebar > h3::after {
    bottom: -29px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid white;
}
.sidebar ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
}
.sidebar ul li span {
    font-size: 14px;
    margin-left: 10px;
}
@media (max-width: 767px) {
    .sidebar {
        width: 58px;
        padding: 10px;
    }
    .sidebar > h3 {
        font-size: 0.53rem;
        margin-bottom: 15px;
    }
    .sidebar > h3::before,
    .sidebar > h3::after {
        display: none;
    }
}
/* End Sidebar */
/* Start Content */
.content {
    overflow: hidden;
}
.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color)
}
.head .search input{
    border: var(--main-border);
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
}
.head .search input:focus {
    outline-color: var(--blue-color);
    width: 200px;
    caret-color: var(--blue-color);
}
.head .search input:focus::placeholder {
    opacity: 0;
}
.head .icons .notification {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.head .icons .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    right: -5px;
    top: -16px;
}
.head .icons img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
    cursor: pointer;
}
.page h1 {
    margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.page h1::before{
    background-color: #ffffff;
    width: 120px;
}
.page h1::after{
    background-color: #000000;
    width: 40px;
}
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width: 767px) {
    .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10;
}
}
/* End Content */
/* Start Welcome Widget */
.welcome {
    overflow: hidden;
}
.welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}
.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid #ffffff;
    padding: 2px;
    box-shadow:  0 0 5px 0 #ddd;
    margin-left: 20px;
    margin-top: -32px;
    border-radius: var(--border-rad);
    -webkit-border-radius: var(--border-rad);
    -moz-border-radius: var(--border-rad);
    -ms-border-radius: var(--border-rad);
    -o-border-radius: var(--border-rad);
}
.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.welcome .body > div {
    flex: 1;
}
.welcome .visit {
    margin: 0 15px 15px auto;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
    .welcome .avatar {
        margin-left: 0;
    }
    .welcome .body > div:not(:last-child) {
        margin-bottom: 20px;
    }
}
/* End Welcome Widget */
/* Start Quick Draft widget */
.quick-draft input {
    caret-color: var(--blue-color);
}
.quick-draft textarea {
    resize: none;
    min-height: 180px;
    caret-color: var(--blue-color);
}
.quick-draft input:focus::placeholder,
.quick-draft textarea:focus::placeholder{
    opacity: 0;
}
.quick-draft .save {
    margin-left: auto;
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}
/* End Quick Draft widget */
/* Start Target */
.targets .targets-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.targets .details {
    flex: 1;
}
.targets .details .progress {
    height: 6px;
}
.targets .details .progress > span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.targets .details .progress > span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    padding: 2px 5px;
    color: #fff;
    border-radius: 6px;
    font-size: 12px;
}
.targets .details .progress > span span::after {
    content: "";
    position: absolute;
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.targets .details .progress > .blue span::after {
    border-top-color: var(--blue-color);
}
.targets .details .progress > .orange span::after {
    border-top-color: var(--orange-color);
}
.targets .details .progress > .green span::after {
    border-top-color: var(--green-color);
}
.blue .icon,
.blue .progress {
    background-color: rgb(0, 117, 255 ,0.2);
}
.orange .icon,
.orange .progress {
    background-color: rgb(245, 158, 11, 0.2);
}
.green .icon,
.green .progress {
    background-color: rgb(34, 197, 94, 0.2);
}
/* End Target */
/* Start Tickets */
.tickets .box {
    border: var(--main-border);
    width: calc(50% - 10px);
}
@media (max-width: 767px) {
    .tickets .box {
        width: 100%;
    }
}
/* End Tickets */
/* Start Latest News */
.latest-news .news-row:not(:last-of-type){
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.latest-news .news-row img{
    width: 100px;
    margin-right: 15px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.latest-news .info {
    flex-grow: 1;
}
.latest-news .info h3 {
    margin: 0 0 6px;
    font-size: 16px;
}
@media (max-width: 767px) {
    .latest-news .news-row {
        display: block;
    }
    .latest-news .news-row img{
        margin-right: 0;
    }
    .latest-news .news-row .info {
        margin: 12px auto;
    }
    .latest-news .news-row .label {
        display: block;
        margin: 12px auto;
        width: fit-content;
    }

}
/* End Latest News */
/* Start Latest Tasks */
.tasks .news-row:not(:last-of-type) {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.tasks .news-row .info {
    flex-grow: 1;
}
.tasks .news-row .delete {
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.tasks .news-row .delete:hover {
    color: var(--red-color);
    cursor: pointer;
}
/* End Latest Tasks */
/* Start Search Items */
.search .search-rows .items span:last-child {
    padding: 4px 10px;
    background-color: #eee;
    border-radius: var(--border-radius);
    font-size: 13px;
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}
/* End Search Items */
/* Start Upload Items */
.uploads ul li:not(:last-child) {
    border-bottom: var(--main-border);
}
.uploads ul li div img {
    width: 40px;
    height: 40px;
}
/* End Upload Items */
/* Start Last Project */
.last-project ul::before {
    content: "";
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}
.last-project ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #fff;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}
.last-project ul li.done::before {
    content: "";
    background-color: var(--blue-color);
}
.last-project ul li.current::before {
    animation: change-color 0.8s infinite alternate;
    -webkit-animation: change-color 0.8s infinite alternate;
}
.last-project .launch-icon {
    position: absolute;
    width: 160px;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    animation: change-position 3s infinite alternate;
    -webkit-animation: change-position 3s infinite alternate;
}
/* End Last Project */
/* Start Reminders */
.reminder ul li .key {
    width: 15px;
    height: 15px;
}
.reminder ul li > .blue {
    border-left: 2px solid var(--blue-color);
}
.reminder ul li > .orange {
    border-left: 2px solid var(--orange-color);
}
.reminder ul li > .green {
    border-left: 2px solid var(--green-color);
}
.reminder ul li > .red {
    border-left: 2px solid var(--red-color);
}
/* End Reminders */
/* Start Animation */
@keyframes change-color {
    from {
        background-color: var(--blue-color);
    }
    to{
        background-color: #ffffff;
    }
}
@keyframes change-position {
    0%, 50% {
        bottom: -100px;
        opacity: 0;
    }
    100% {
        bottom: 200px;
        opacity: 1;
    }
}
/* End Animation */

